<div class="container-fluid">
    <div class="container col-sm-12" *ngIf="loading== false">
        <h1 class="display-3 text-center">TO DO APP</h1>
        <p class="lead text-center">TO DO APP for managing your work</p>
    </div>

    <form #loginForm="ngForm">
        <div class="input-section" *ngIf="loading== false">
            <div class="col-sm-12">              
                    <input
                        autocomplete="off"
                        type="text"
                        placeholder="Email"
                        name="email"
                        [(ngModel)]="email"
                        required
                        [email]="true"
                        #emailInput="ngModel"
                        class="input input-bordered input-secondary w-full max-w-xs"
                    />            
                <div *ngIf="emailInput.errors && (emailInput.dirty || emailInput.touched)"
                        class="alert alert-danger">
                    Valid email is required
                </div>
            </div>
            <div class="col-sm-12"> 
                <input
                autocomplete="off"
                type="password"
                placeholder="Password"
                name="password"
                [(ngModel)]="password"
                required
                #passwordInput="ngModel"
                minlength="6"
                class="input input-bordered input-secondary w-full max-w-xs"
                />                   
                <div *ngIf="passwordInput.errors && (passwordInput.dirty || passwordInput.touched)"
                class="alert alert-danger">
                  Password length must be 6 characters
                </div>
            </div>
            <button #loginButton class="btn btn-secondary login-button"  
            [disabled]="!loginForm.valid"
            (click)="login(email,password)">
               Login
            </button>      
            <div style="margin-top: 5px;">
                If you don't have an account <button class="btn btn-secondary click-here" (click)="showLoadingAndOpenSignup()">Click here</button>
            </div>  
        </div>    
    </form>
  
    <div *ngIf="loading" class="loading-overlay">
        <div class="center">
            <div id="wave1"  class="wave"></div>
            <div id="wave2"  class="wave"></div>
            <div id="wave3"  class="wave"></div>
            <div id="wave4" class="wave"></div>
            <div id="wave5"  class="wave"></div>
            <div id="wave6"  class="wave"></div>
            <div id="wave7"  class="wave"></div>
            <div id="wave8"  class="wave"></div>
            <div id="wave9" class="wave"></div>
            <div id="wave0"  class="wave"></div>
          </div>
    </div>
</div>
